.form-sandbox {
  &__main {
    .flex-row();
    height: 100%;
  }
  &__components {
    width: 200px;
    .flex-column-start();
    flex-wrap: wrap;
    &--item {
      width: 180px;
      height: 40px;
      margin: 0 10px 10px 0;
      background-color: #d4e3fc;
      border: 1px solid #4787f0;
      font-size: 14px;
      color: #333;
      text-align: center;
      line-height: 40px;
      &:hover,
      &:focus {
        cursor: move;
      }
    }
  }
  &__content {
    .flex-column-start();
    flex: 1;
    background-color: #f7f7f7;
    position: relative;
  }
  &__dispose {
    width: 240px;
    position: absolute;
    right: 0;
    top: 0;
  }
  &__wrap {
    height: 140px;
    width: 100%;
    row-gap: 12px;
    background-color: #fe9249;
  }
  &__payground {
    height: 100%;
    width: 100%;
    padding: 10px;
  }
}
