.form-sandbox {
  &__main {
    .flex-row();
    height: 100%;
  }
  &__components {
    .flex-column-start();
    width: 200px;
    flex-wrap: wrap;
    &--title {
      height: 42px;
      font-size: 18px;
      text-align: center;
      line-height: 30px;
      width: 100%;
      padding-right: 20px;
    }
    &--item {
      width: 180px;
      height: 40px;
      margin: 0 10px 10px 0;
      background-color: #d4e3fc;
      border: 1px solid #4787f0;
      font-size: 14px;
      color: #333;
      text-align: center;
      line-height: 40px;
      &:hover,
      &:focus {
        cursor: move;
      }
    }
  }
  &__content {
    .flex-column-start();
    flex: 1;
    position: relative;
  }
  &__wrap {
    height: 140px;
    width: 100%;
    row-gap: 12px;
    background-color: #fe9249;
  }
  &__payground {
    background-color: #f7f7f7;
    height: 100%;
    width: 100%;
    padding: 10px;
  }
  &__operation {
    .flex-row-start-end();
    width: 100%;
    height: 42px;
  }
}
