.componentArea{
  width: 400px;
  min-height: 400px;
  background-color: aliceblue;
  margin: 24px;
  
}
.componentArea .ReactSortable{
  min-height: 400px;
  padding: 12px;
}
.drawArea{
  width: 400px;
  min-height: 400px;
  margin: 24px;
  background-color: black;
}
.drawArea .ReactSortable{
  min-height: 400px;
  padding: 12px;
}
.ReactSortableChild{
  min-height: 100px;
  padding: 12px;
  border: 1px solid red;
  background-color: #fff;
}